/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ## END RESET ##  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	width:100%;
	height:100vh;
	background: linear-gradient(200deg, rgba(88, 59, 196, 0.82) 25%, #3677a5 74.36%), url("../assets/bg1.jpeg");
	opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  width: 100%;
  height: 80px;
  left: 2px;
  top: 740px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 5px;
}

.logo {
  width: 186px;
  height: 26px;
  left: 13px;
  top: 0px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 100px;
}

.list {
  width: 128px;
  height: 26px;
  left: 138px;
  top: -6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 40px;
}

.social {
  margin-right: -70px;
  padding-top: 45px;
}


.hero h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.1em;
  color: #ffffff;
  padding-bottom: 20px;
}

.hero p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.3em;
  color: #ffffff;
  text-transform: uppercase;
}

.hero .textt {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.section2 {
	position: relative;
  }

  .section2_line {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  .section2_line p {
	font-family: 'Montserrat';
    font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 54px;
	text-align: center;
	color: #2C4058;
	margin-bottom: 50px;
	
  }
  .line {
	margin-top: 54px;
	color: #2C4058;
	margin-bottom: 32px;
  }

  :root {
	--white: #e5e5e5;
	--blue-500: #55b7ff;
	--blue-900: #2c4058;
	--black: #000000;
	--purple: #7e5aff;
  }
  
  
  body {
	background-color: var(--white);
  }

  /*Layout*/
  
  .flex {
	display: flex;
  }
  
  .flex-50 {
	flex-basis: 50%;
  }
  
  .flex-column {
	flex-direction: column;
  }
  
  .align-center {
	align-items: center;
  }
  
  .justify-center {
	justify-content: center;
  }
  
  .justify-between {
	justify-content: space-between;
  }
  
  .justify-around {
	justify-content: space-around;
  }
  
  .gap {
	gap: 5%;
  }
  
  .mt-10 {
	margin-top: 10rem;
  }
  
  /*Typography*/
  
  .text-14 {
	font-size: 0.875rem;
	line-height: 1.0625rem;
  }
  
  .text-15 {
	font-size: 0.9375rem;
	line-height: 1.25rem;
  }
  
  .text-18 {
	font-size: 1.125rem;
	line-height: 1.875rem;
  }
  
  .text-22 {
	font-size: 1.375rem;
	line-height: 1.6875rem;
  }
  
  .text-44 {
	font-size: 2.75rem;
	line-height: 3.375rem;
  }
  
  .text-black {
	color: var(--black);
  }
  
  .text-blue-900 {
	color: var(--blue-900);
  }
  
  .uppercase {
	text-transform: uppercase;
  }
  
  .fw-100 {
	font-weight: 100;
  }
  
  .fw-300 {
	font-weight: 300;
  }
  
  .fw-400 {
	font-weight: 400;
  }
  
  .fw-500 {
	font-weight: 500;
  }
  
  .fw-600 {
	font-weight: 600;
  }
  
  .fw-700 {
	font-weight: 700;
  }

  
  /*COMPONENTS*/
  
  .btn {
	font-size: 0.875rem;
	font-weight: 400;
	padding: 16px 41px 17px;
	background-color: var(--white);
	border: 1px solid #2c4058;
	margin-bottom:40px;
	margin-top:20px;
  }
  
  .rectangle {
	width: 585px;
	height: 470px;
	position: relative;
  }
  
  .blue-rectangle {
	margin-right: 215px;
	background-color: var(--blue-500);
  }
  
  .purple-rectangle {
	margin-left: 215px;
	background-color: var(--purple);
  }
  
  .image {
	width: 585px;
	height: 100%;
	position: absolute;
  }
  
  .blue-rectangle .image {
	background-color: #2c4058;
	left: 215px;
	top: 50px;
  }
  
  .purple-rectangle .image {
	background-color: #2c4058;
	right: 215px;
	top: 50px;
  }
  
  .text {
	height: 470px;
	padding-top: 121px;
  }
  
  .text-padding-right {
	padding-right: 215px;
  }
  
  .text-padding-left {
	padding-left: 215px;
  } 
