/* ## RESET ##  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ## END RESET ##  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
	width:100%;
	height:100vh;
	background: linear-gradient(200deg, rgba(88, 59, 196, 0.82) 25%, #3677a5 74.36%), url("../assets/bg1.jpeg");
	opacity: 0.6;
	background-size: cover;
	background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
  width: 100%;
  height: 80px;
  left: 2px;
  top: 740px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 5px;
}

.logo {
  width: 186px;
  height: 26px;
  left: 13px;
  top: 0px;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-left: 100px;
}

.list {
  width: 128px;
  height: 26px;
  left: 138px;
  top: -6px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 186%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 40px;
}

.social {
  margin-right: -70px;
  padding-top: 45px;
}
